/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

/* min body height */

body {
  min-height: 100vh;
  width: 100%;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1 {
    
   
    color: rgb(17, 17, 17);
    text-align: left;
    font-size: 2.2rem;
    font-family: "azo-sans-web", sans-serif;
    font-weight: 900;
    font-style: normal;

   
}

h2 {
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 1.25rem;
    font-family: "azo-sans-web", sans-serif;
    font-weight: 900;
    font-style: normal;
  
    text-transform: uppercase;
    padding: .5rem;
    max-width: fit-content;
    border-radius: .15rem;
    margin-top: .5rem;
}

.sativa {
    background-color: #dea4b7;
}

.indica {
    background-color: #bfeae7;
    color: black;
}

.hybrid {
    background-color: #f5d723;
    color: black;
}

.sub-header {

    color: rgb(8, 8, 8);
    text-align: left;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif, sans-serif; 
    font-weight: 700;
    font-style: normal;
    
    text-transform: uppercase;
    padding-top: 2rem;
    max-width: fit-content;
    border-radius: .15rem;
    margin-top: .5rem;
}

a {
    text-decoration: none;
}

p {
    color: rgb(24, 24, 24);
    font-family: "azo-sans-web", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    text-align: left;
    padding-top: 1rem;
    animation: paragraphTextAnimate ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}



li {
    color: rgb(24, 24, 24);
    font-family: Arial, Helvetica, sans-serif, sans-serif; 
    font-weight: 400;
    font-size: .85rem;
    text-transform: uppercase;
    padding-top: 1rem;
    text-decoration: none;
    list-style-type: none;
    padding: .15rem 0rem;
    
    
}

li.bold {

    color: rgb(17, 17, 17);
    text-align: left;
    font-size: 1rem;
    font-family: "azo-sans-web", sans-serif;
    font-weight: 900;
    font-style: normal;

}




.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff6da;
    height: 5rem;
    

}

.floating-nav {
    /*background-color: rgb(155, 155, 155);*/
    position: fixed;
    left: 0;
    top: auto;
    right: 0;
    bottom: 0;
 
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    animation: fadeInAnimate ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

@keyframes fadeInAnimate {
    0% {
        opacity: 0;
        transform: translate(0, 10px);
    }

    100% {
        opacity: 1;
        transform: (0);
    }
}


nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    background-color: #FFF7E2;
    padding: .75rem .75rem;
    border-radius: 100vh;
    border-style: solid;
    border-color: #27100B;
    border-width: 2px;
    grid-gap: .25rem;
   
   
}

.floating-nav-link {
    display: grid;
    align-items: center;
    justify-content: center;
   
    color: #27100B;
    
    text-decoration: none;
   
    font-size: 1rem;
    font-family: komet, sans-serif; 
    font-weight: 700;
    font-style: normal;
    margin-left: .5rem;
    margin-right: .5rem;
   

  
}

.home-icon {
    height: 2.25rem;
  
    
}

/*.logo {
    max-height: 4rem;
}*/

.flower-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff6da;
    margin: auto auto auto auto;
    
    
}


.image-cover {
    object-fit: cover;
        object-position: 50% 10%;
        width: 100%;
        height: 100%;
}

.strain-top-image {
    
    height: 75vh;
    background-color: #dea4b7;
}

.strain-bottom-image {
   
    height: 75vh;
    background-color: #dea4b7;
}

/*.silvertip-image {
    background-image: url(images/silver-tip.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
    background-color: #bfeae7;
}

.silvertip-image-two {
    background-image: url(images/silver-tip-jar.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
    background-color: #bfeae7;
}

.orangeade-image {
    background-image: url(images/orangeade-yellow-hyrbrid.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
    background-color: #efc925;
}

.orangeade-image-two {
    background-image: url(images/orangeade-jar.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
    background-color: #efc925;
}*/


.flower-info {
    width: 90%;
    margin: auto auto auto auto;
    padding-top: 2rem;
    padding-bottom: 5rem;
}






/*  Verification Page */



.verification-wrapper {
    background-color: #fff6da;
    
    display: grid;
    grid-template-rows: .5fr 1fr;
    
}



.verification-image {
    object-fit: cover;
    object-position: 25% 75%;
    
}

.verification-section {
    
    display: grid;
    
   
    justify-items: center;
    align-content: center;
   
   
    

}

.verification-intro {
    display:grid;
    gap: 2rem;
    justify-items: center;
    align-content: center;
   
    

}

.buttons-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.3rem;
    padding: 3rem 0 0 0;
    justify-items: center;
    align-content: center;
 
}

.verfication-button {
    border: 2px solid #492b19;
    background-color: #fff6da;
    display: grid;
    height: 4.5rem;
    width: 20rem;
    justify-items: center;
    align-content: center;
    text-transform: uppercase;
    font-size: 1.75rem;
    color: #492b19;
    font-family: "azo-sans-web", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.verfication-button:hover {
    border: 2px solid #492b19;
    background-color: #492b19;
    color: #fff6da ;
}




.verification-text {
    text-align: center;
}

.header-small {

    font-size: 1.75rem;
    color: #492b19;
    text-transform: uppercase;
}

h1.verification-button-text {
    font-size: 1.75rem;
    color: #492b19;
}

.gvo-logo {
    max-width: 9rem;
    padding-top: 1rem;

}

.verification-footer {
    display: grid;
    grid-template-rows: 1fr;
    padding: 1rem 2rem;
    justify-items: center;
    align-content: center;
    max-width: 30rem;

}




/* Home Page */

.home-page-container {
    background-color: #fff6da;
   
    
}

.hero-section {
    background-image: url(images/home-image.jpg);
    background-position: center;
    background-size: cover;
    min-height: 75vh;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: start;
    
}

.hero-items-wrapper {
    display: grid;
    grid-template-columns: 1fr ;
    
    justify-items: start;
    align-content: center;
    padding: 3rem 0;
  
   

}

.homepage-logo {
    max-width: 6rem;
    
    
   


}


h1.hero-text {
    font-family: "arya-double", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    color: white;
    text-shadow: 1px 1px 20px #be4e92;
    
    

}

h1.hero-welcome {
    
    color: white;

}


h2.hero-subtext {
    color: white;
    font-size: 1.25rem;
    padding: 0;
    
}

.top-nav-bar {
    display: grid;
    grid-template-rows: 1fr;
    
    padding-top: 2rem;
}


.strain-carousel {
    
  
    background-color: #fff6da;
    
}


/* flickity on by default */
.strain-carousel:after {
    content: 'flickity';
    display: none;
}



.strain-cell-sativa {
    background-image: url(images/carousel-one.jpg);
    background-position: center top;
    background-size: cover;
    height: 100%;
    width: 100%;
    max-width: 70%;
    display: grid;
    align-content: center;
    justify-items: center;
    padding: 15rem 0rem;
    
    /*display: grid;
    
    padding: 10rem 0;
    background-position: center top;
    background-size: cover;
    justify-items: center;
    align-content: center;
    min-height: 50vh;
    min-width: 50vw;*/
    
}

.strain-cell-hybrid {
    background-image: url(images/carousel-two.jpg);
    background-position: center top;
    background-size: cover;
    height: 100%;
    width: 100%;
    max-width: 70%;
    display: grid;
    align-content: center;
    justify-items: center;
    padding: 15rem 0rem;
    /*display: grid;
    background-image: url(images/carousel-two.jpg);
    padding: 10rem 0;
    background-position: center top;
    background-size: cover;
    justify-items: center;
    align-content: center;
    min-height: 50vh;*/
}

.strain-cell-indica {
    background-image: url(images/carousel-three.jpg);
    background-position: center top;
    background-size: cover;
    height: 100%;
    width: 100%;
    max-width: 70%;
    display: grid;
    align-content: center;
    justify-items: center;
    padding: 15rem 0rem;
    /*display: grid;
    background-image: url(images/carousel-three.jpg);
    padding: 10rem 0;
    background-position: center top;
    background-size: cover;
    justify-items: center;
    align-content: center;
    min-height: 50vh;*/
}

    .selection-type {
        font-size: 3rem;
        color: white;
        text-align: center;

    }


    .selection-text {
        color: white;
        padding: 0 0;
        font-size: 1.1rem;
        text-align: center;
       
      
        

    }


    .edibles-section {
        background-image: url(images/Edibles-image-two.jpg);
        background-size: cover;
        background-position: center;
        display: grid;
        justify-items: center;
        
    }

    .edibles-content-wrapper {
        padding: 5rem 0;
        display: grid;
        grid-template-columns: 1fr;
        max-width: 20rem;
        justify-items: start;
      
        
    }

   .subheader-text {  
    background-color: #492b19;
        font-size: 1.1rem;    
        color: white;
        display: grid;
        padding: .35rem;
        margin-bottom: .25rem;
    }  

   



    h1.header-text {
        color: white;
        font-size: 2rem;
        text-transform: uppercase;
        display: grid;
    }

    h1.header-text.contact {
        color:#492b19;
        font-size: 2rem;
        text-transform: uppercase;
        display: grid;
        
    }

    h1.header-text.contact.thin {
        font-weight: 500;
        
    }

    .header-text.contact {
        padding: 2rem 0 2rem 0;
       
    }

    .header-text.contact.menu {
        padding: 2rem 0 2rem 0;
       
    }

    .header-text.contact.flowertype {
        padding: 0rem 0 2rem 0;
        font-size: 3rem;
        
        
       
    }


    h1.header-text.flower {
        color:#492b19;
        font-size: 2rem;
        text-transform: uppercase;
        display: grid;
    }

    .pick-up-section {
        background-image: url(images/gallatin-organic-lounge-dark.jpg);
        background-size: cover;
        background-position: center;
        display: grid;
        justify-items: center;
        
    }
    
    .info-wrapper {
        padding: 8rem 0rem;
        display: grid;
        grid-template-columns: 1fr;
        max-width: 20rem;
        justify-items: start;
      }

      .info-wrapper.footer {
        padding: 2rem 0rem;
        display: grid;
        grid-template-columns: 1fr;
        max-width: 20rem;
        justify-items: start;
      }

      .info-wrapper.order {
        padding: 2rem 0rem;
        display: grid;
        grid-template-columns: 1fr;
        max-width: 30rem;
        justify-items: start;
      }

      .info-wrapper.order.menu {
       
        display: grid;
        grid-template-columns: 1fr;
        max-width: 30rem;
        justify-items: start;
      }

      .info-text {
          color: white;
          font-size: 1.2rem;
      }

      p.info-text.contact {
        color: #492b19;
        font-size: .95rem;
        padding-top: 0;
    }


    .action-button {
        border: 2px solid white;
        background-color: transparent;
        color: white;
        display: grid;
        height: 4rem;
        width: 15rem;
        justify-items: center;
        align-content: center;
    
        margin-top: 2rem;
        color: white;
        text-align: left;
        font-size: 2.2rem;
        font-family: "azo-sans-web", sans-serif;
        font-weight: 900;
        font-style: normal;
    
    }


    .action-button.dark {
        border: 2px solid#492b19;
        background-color: transparent;
        margin: 1.5rem 0rem;
        display: grid;
        height: 4rem;
        width: 18rem;
        justify-items: center;
        align-content: center;
        
        
        color: #492b19;
        text-align: left;
        font-size: 1.15rem;
        font-family: "azo-sans-web", sans-serif;
        font-weight: 900;
        font-style: normal;
    
    }

   

    .action-button:hover {
        background-color: white;
        color: #492b19;
    }

    .action-button.dark:hover {
        background-color: #492b19;
        color: #FFF7E2;

    }

  

    .medical-card-section {
        background-image: url(images/card-section.jpg);
        background-size: cover;
        background-position: right;
        display: grid;
        justify-items: center;
    }

   
    .footer-section {
        display: grid;
        grid-template-columns: 1fr;
        background-color: #FFF7E2;
        color: #492b19;
        justify-items: center;
        align-content: start;
        padding-bottom: 3rem;
        
    }
       
    .footer-grid {
        display: grid;
        justify-items: start;
        line-height: .1rem;
        align-content: start;
        gap: 1.5rem;
        
       
    }

    .footer-grid.contact {
        padding-top: 0;
        padding-bottom: 3rem;
    }

    .footer-grid.insta {
        display: grid;
        justify-items: center;
        align-content: center;
        width: 100%;
        padding: 2rem 0;
       
    }

    .instagram-logo {
        width: 3rem;
    }

   






    /* Order Page */

    





    .top-nav-section {
        background-image: url(images/order-image-three.jpg);
        background-size: cover;
        background-position: right;
        display: grid;
        justify-items: center;
        align-content: start;
    }

    .home-nav-section {
        background-image: url(images/silver-tip-jar.jpg);
        background-size: cover;
        background-position: center;
        display: grid;
        justify-items: center;
        align-content: start;
    }


    

    .grid.order {
        display: grid;
        justify-items: center;
        align-content: center;
        width: 100%;
        margin-bottom: 2rem;
        
    }








    /* Menu Page */



    .menu-nav-section {
        background-color: #FFF7E2;
        background-size: cover;
        background-position: center;
        display: grid;
        justify-items: center;
        align-content: start;
    }

    .grid.menu {
        display: grid;
        justify-items: center;
        align-content: center;
        width: 100%;
        padding-top: 2rem;
        
    }

    .menu-content-section {
        display: grid;
        grid-template-columns: 1fr;
        background-color: #FFF7E2;
        justify-items: center;
        
     
    }

    .menu-content-section.border {
        border-bottom: 2px #492b19 dotted;
        padding-bottom: 3rem;
     
    }

    .menu-content-wrapper {
       display: grid;
       width: 75vw;
       
    
    }

    .menu-content-wrapper.narrow {
        /*border-bottom: .15rem solid #492b19;*/
        padding-bottom: 2rem;
        
        
     
     }

   

    .flower-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);;
        grid-template-rows: auto;
        background-color: #FFF7E2;
       
        gap: 1px;
        padding-bottom: 2rem;

    }

    .grid-flower {
       
        position: relative;
    }

    .grid-image {
        object-fit: cover;
        object-position: 50% 50%;
        width: 100%;
        height: 100%;
        
    }


    /*.grid-flower {
        background-image: url(images/strawberries-and-cream.jpg);
        background-size: cover;
        background-position: center;
        grid-template-columns: 3fr 1fr;
        display: grid;
       
        
    }*/

    .flower-text {
        font-size: .75rem;
        font-weight: 500;
        position: absolute;
        bottom: 10px;
        color: #492b19;
        background-color: #e1adbc;
        text-transform: uppercase;
        padding: .5rem;
        
    }

    .flower-text.hybrid {
        font-size: .75rem;
        font-weight: 500;
        position: absolute;
        bottom: 10px;
        color: #492b19;
        background-color: #ec9e24;
        text-transform: uppercase;
        padding: .5rem;
        
    }

    .flower-text.indica {
        font-size: .75rem;
        font-weight: 500;
        position: absolute;
        bottom: 10px;
        color: #492b19;
        background-color: #add5d2;
        text-transform: uppercase;
        padding: .5rem;
        
    }

    .flower-type-section {
        display: grid;
        grid-template-columns: 1fr;
        background-color: #FFF7E2;
        justify-items: center;

    }


    .flower-type-wrapper{
        background-color: #FFF7E2;
        display: grid;
       width: 75%;
        

    }


    ul.list {
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;

    }

   

    h1.list{
        color:#492b19;
        font-size: 2rem;
        text-transform: uppercase;
        display: grid;

    }

    h2.list-header {
        color:#492b19;
        font-size: 1.25rem;
        text-transform: uppercase;
        display: grid;
        padding: 1rem 0;
    }


  


    
   
    

   




































@media (min-width: 1024px) {

   
    .flower-info {
        width: 40%;
        margin: auto auto auto auto;
        padding-top: 2rem;
    }

    .flower-image {
        background-image: url(images/mandorin-zkittlez.jpg);
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        height: 75vh;
        background-color: #e4b922;
        background-attachment: fixed;
        
        
    }

    .floating-nav {
        /*background-color: rgb(155, 155, 155);*/
        position: fixed;
        left: 0;
        top: auto;
        right: 0;
        bottom: 0;
     
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        animation: fadeInAnimate ease 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    
    }
    
    @keyframes fadeInAnimate {
        0% {
            opacity: 0;
            transform: translate(0, 10px);
        }
    
        100% {
            opacity: 1;
            transform: (0);
        }
    }
    
    
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        background-color: #FFF7E2;
        padding: 1rem 5rem;
        border-radius: 100vh;
        border-style: solid;
        border-color: #27100B;
        border-width: 2px;
        grid-gap: .25rem;
       
       
    }
    
    .floating-nav-link {
        display: grid;
        align-items: center;
        justify-content: center;
       
        color: #27100B;
        
        text-decoration: none;
       
        font-size: 1rem;
        font-family: komet, sans-serif; 
        font-weight: 700;
        font-style: normal;
        margin-left: .5rem;
        margin-right: .5rem;
       
    
      
    }



    /* Verification Page */

    .verification-wrapper {
        background-color: #fff6da;
        min-height: 100vh;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        
        
    }

    
    .verification-image {
        object-fit: cover;
        object-position: 40% 60%;
        width: 100%;
        height: 100%;
    }
    
    .verification-section {
        
        display: grid;
        grid-template-columns: 1fr;
       
        justify-items: center;
        align-content: center;
       
       
        
    
    }
    
    .verification-intro {
        display:grid;
        gap: 2rem;
        justify-items: center;
        align-content: center;
        
    
    }
    
    .buttons-wrapper {
        display: grid;
        gap: 2rem;
        padding: 3rem 0;
    }
    
    .verfication-button {
        border: 2px solid #2C1C12;
        background-color: #fff6da;
        display: grid;
        height: 4.5rem;
        justify-items: center;
        align-content: center;
        padding: .25rem 2.5rem;
    
    }
    
    h2.verification-button-text {
        color: #2C1C12;
    }
    
    
    .gvo-logo {
        max-width: 20rem;
        padding-top: 1rem;
    
    }
    
    .verification-footer {
        display: grid;
        grid-template-rows: 1fr;
        padding: 1rem 2rem;
        justify-items: center;
        align-content: center;
        max-width: 30rem;
    
        
    
    }
    

    /*Home Page */

    h1.hero-text {
        font-size: 8em;
        color: white;
        
    
    }
    
    h1.hero-welcome {
        font-size: 4.25em;
        color: white;
    
    }
    
    
    h2.hero-subtext {
        color: white;
        font-size: 2.25rem;
        padding: 0; 
    }

    .strain-carousel:after {
        content: '';
        
    }

    .strain-carousel {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-template-rows: 1fr;
       justify-items: center;
       
    
      
       
    }


    .strain-cell-sativa {
        max-width: 100%;
        align-content: center;
        justify-items: center;

    }

    .strain-cell-hybrid {
        max-width: 100%;
        align-content: center;
        justify-items: center;

    }

    .strain-cell-indica {
        max-width: 100%;
        align-content: center;
        justify-items: center;

    }


    .edibles-section {
        background-image: url(images/Edibles-image-two.jpg);
        background-size: cover;
        background-position: center;
        display: grid;
        justify-items: center;
        
    }
    
    .edibles-content-wrapper {
        padding: 10rem 5rem;
        display: grid;
        max-width: 45rem;
        grid-template-columns: 1fr;
      
        
    }


    .pick-up-section {
        background-image: url(images/gallatin-organic-lounge-dark.jpg);
        background-size: cover;
        background-position: center;
        display: grid;
        justify-items: center;
        
    }
    
    .info-wrapper {
        padding: 20rem 5rem;
        display: grid;
        grid-template-columns: 1fr;
        max-width: 45rem;
        justify-items: start;
      
        
    }


    .info-text {
        color: white;
        font-size: 1.7rem;
    }

    .subheader-text {  
        font-size: 3rem;    
        color: white;
        text-align: start;
        padding-top: 0;
    }  

    h1.header-text {
        color: white;
        font-size: 5rem;
    }


    .action-button {
        border: 3px solid white;
        background-color: transparent;
        display: grid;
        height: 4rem;
       
        justify-items: center;
        align-content: center;
        padding: 2rem 3rem;
        margin-top: 2rem;
    
    }

    .info-wrapper.footer {
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 100vw; 
        padding: 4rem 2rem 2rem 2rem;
    }


    .footer-grid {
        display: grid;
        justify-items: start;
        line-height: .1rem;
        align-content: start;
        gap: 1.5rem;
        padding: 2rem 0 2rem 0;
       
    }

    .footer-section {
        padding-bottom: 5rem;
        
    }

    .header-text.contact {
        padding: 0rem 0 2rem 0;
       
    }

    .header-text.contact {
        padding: 2rem 0 2rem 0;
       
    }

    .info-wrapper.order {
        padding: 2rem 0rem;
        display: grid;
        grid-template-columns: 1fr;
        max-width: 50rem;
        justify-items: start;
      }

  /* Menu Page */

  .flower-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    background-color: #FFF7E2;
    

}


.grid-flower {
       
    position: relative;
}


.grid-image {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
    
}

.flower-text {
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    bottom: 10px;
    color: #492b19;
    background-color: #e1adbc;
    text-transform: uppercase;
    padding: 1rem;
    
}

.flower-text.hybrid {
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    bottom: 10px;
    color: #492b19;
    background-color: #ec9e24;
    text-transform: uppercase;
    padding: 1rem;
    
}


.flower-text.indica {
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    bottom: 10px;
    color: #492b19;
    background-color: #add5d2;
    text-transform: uppercase;
    padding: .5rem;
    
}


.action-button.dark {
   
    border: 2px solid#492b19;
    background-color: transparent;
    
    
    height: 4rem;
    width: 25rem;
    justify-items: center;
    align-content: center;

    margin-top: 2rem;
    color: #492b19;
    text-align: left;
    font-size: 1.25rem;
    font-family: "azo-sans-web", sans-serif;
    font-weight: 900;
    font-style: normal;
    

}

.menu-content-section {
    padding-bottom: 4rem;
}

.menu-content-wrapper {
    display: grid;
    width: 80vw;
    max-width: 1000px;
    
 
 }

 .menu-content-wrapper.narrow {
    /*border-bottom: .15rem solid #492b19;*/
    padding-bottom: 2rem;
    
    
 
 }

 li {
     font-size: 1rem;
     font-family: "azo-sans-web", sans-serif;
     font-weight: 500;
     font-style: normal;
     
 }



 







}